/*Override bootstrap breadcrumbs default CSS*/
.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb>li+li:before {
    content: "";
}

#productCategory {
    width: 80%;
}

/*Override bootstrap thumbnails default CSS*/
.caption h3 {
    margin: 0;
}

/*Responsive design*/
@media only screen and (min-width: 768px) {
    /* For desktop: */

    /*Override bootstrap breadcrumbs default CSS*/
    #productCategory {
        width: 100%;
        padding-bottom: 4px;
        padding-top: 4px;
    }
}